{% extends 'dummy.html' %}

{% block title %}
    <title>Change Password page</title>
{% endblock%}

{% block body_block %}
<center>
    <h1>Change Password</h1>

    <form action=""  method="POST">
        {% csrf_token %}

        <label for="ep">Enter New Password</label>
        <input type="password" id="ep" name="ep"><br><br>

        <label for="rp">Re-enter Password</label>
        <input type="password" name="rp" id="rp"><br><br>

        <input type="submit" value="Change Password">
    </form>



</center>

{% endblock%}