{% extends 'dummy.html' %}

{% block title %}
    <title>Forget password Page</title>
{% endblock%}

{% block body_block %}
    <center>
        <h1>Forget password Page</h1>

        <form action="" method="POST">
            {% csrf_token %}

            <label for="un">ENTER USER NAME :</label>
            <input type="text" name="un" id="un"><br><br>
            
            <label for="pw">ENTER PASSWORD :</label>
            <input type="password" name="pw" id="pw"><br><br>

            <label for="rp">RE-ENTER PASSWORD :</label>
            <input type="password" name="rp" id="rp"><br><br>

            <input type="submit" value="Forget Password">

        </form><br>

    </center>

{% endblock%}



